.red-100 {
  background: var(--paper-red-300);
}

.yellow-100 {
  background: var(--paper-yellow-300);
}

.blue-100 {
  background: var(--paper-blue-300);
}

.green-100 {
  background: var(--paper-cyan-300);
}

.red-300 {
  background: var(--paper-red-800);
}

.yellow-300 {
  background: var(--paper-yellow-800);
}

.blue-300 {
  background: var(--paper-blue-800);
}

.green-300 {
  background: var(--paper-cyan-800);
}

